In [1]:
import datetime
import json
import sys

import geopandas as gpd
import pandas as pd
from bokeh.io import show, curdoc
from bokeh.layouts import column
from bokeh.models import GeoJSONDataSource, LinearColorMapper, ColorBar, DateSlider

In [2]:
def get_highres_gdf():
    shapefile = 'shapefiles/99bfd9e7-bb42-4728-87b5-07f8c8ac631c2020328-1-1vef4ev.lu5nk.shp'
    # Read shapefile using Geopandas
    gdf = gpd.read_file(shapefile)  # [['ADMIN', 'ISO_A2', 'geometry']]
    gdf.columns = ['OBJECTID', 'Country', 'geometry']
    #print(gdf)
    #gdf = gdf.drop(gdf.index[159])
    return gdf

In [3]:
def get_gdf():
    shapefile = 'shapefiles/ne_110m_admin_0_countries.shp'
    # Read shapefile using Geopandas
    gdf = gpd.read_file(shapefile)[['ADMIN', 'ISO_A2', 'geometry']]
    #print(gdf)
    # Rename columns.
    gdf.columns = ['Country', 'Country_code', 'geometry']
    #print(gdf)
    gdf = gdf.drop(gdf.index[159])
    return gdf

In [4]:
def make_json_data_for_date(date, column_name=None):
    gdf = get_highres_gdf()
    #print(gdf)
    url = 'https://covid19.who.int/WHO-COVID-19-global-data.csv'
    df = pd.read_csv(url, encoding='utf-8-sig', engine='python')
    df.columns = df.columns.str.strip()
    df.loc[df['Country'] == 'Russian Federation', ['Country']] = 'Russia'
    #print(df.columns)
    #print(gdf.columns)
    df = df.loc[df['Date_reported'] == date.strftime('%Y-%m-%d')]
    if column_name:
        merged = gdf.merge(df, left_on='Country', right_on='Country')
        merged.fillna('No data', inplace=True)
        merged = merged[['Date_reported', 'Country_code', 'Country', 'WHO_region', 'geometry', column_name]]
        #print(merged)
        # Read data to json.
        merged_json = json.loads(merged.to_json())
        # Convert to String like object.
        json_data = json.dumps(merged_json)
    return json_data

In [5]:
geosource = GeoJSONDataSource(geojson=make_json_data_for_date(datetime.datetime(2020, 6, 1),
                                                                  column_name='New_cases'))

In [17]:
#dir(geosource)
geosource.dataspecs

<bound method HasProps.dataspecs of <class 'bokeh.models.sources.GeoJSONDataSource'>>

In [97]:
gdf = get_gdf()

In [98]:
gdf_json = json.loads(gdf.to_json())
gdf_json_data = json.dumps(gdf_json)

In [99]:
gdf

,Country,Country_code,geometry
0,Fiji,FJ,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,United Republic of Tanzania,TZ,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,Western Sahara,EH,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,Canada,CA,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,United States of America,US,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."
...,...,...,...
172,Republic of Serbia,RS,"POLYGON ((18.82982 45.90887, 18.82984 45.90888..."
173,Montenegro,ME,"POLYGON ((20.07070 42.58863, 19.80161 42.50009..."
174,Kosovo,XK,"POLYGON ((20.59025 41.85541, 20.52295 42.21787..."
175,Trinidad and Tobago,TT,"POLYGON ((-61.68000 10.76000, -61.10500 10.890..."
176,South Sudan,SS,"POLYGON ((30.83385 3.50917, 29.95350 4.17370, ..."

In [10]:
df = df.loc[df['Date_reported'] == '2020-09-08']

In [3]:
#shapefile = 'shapefiles/99bfd9e7-bb42-4728-87b5-07f8c8ac631c2020328-1-1vef4ev.lu5nk.shp'
# Read shapefile using Geopandas
#gdf = gpd.read_file(shapefile)#[['ADMIN', 'ISO_A2', 'geometry']]
#gdf.columns = ['OBJECTID','Country','geometry']
#gdf.loc[gdf['Country']=='Russia']

     OBJECTID Country                                           geometry
191       192  Russia  MULTIPOLYGON (((58.06138 81.68776, 57.98055 81...

In [93]:
df.loc[df['Country'] == 'Russian Federation', ['Country']] = 'Russia'
df.loc[df['Country'] == 'Russia']

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
32257,2020-01-31,RU,Russia,EURO,6,6,0,0
32258,2020-02-01,RU,Russia,EURO,0,6,0,0
32259,2020-02-02,RU,Russia,EURO,0,6,0,0
32260,2020-02-03,RU,Russia,EURO,0,6,0,0
32261,2020-02-04,RU,Russia,EURO,0,6,0,0
...,...,...,...,...,...,...,...,...
32483,2020-09-13,RU,Russia,EURO,5449,1062811,94,18578
32484,2020-09-14,RU,Russia,EURO,5509,1068320,57,18635
32485,2020-09-15,RU,Russia,EURO,5529,1073849,150,18785
32486,2020-09-16,RU,Russia,EURO,5670,1079519,132,18917
32487,2020-09-17,RU,Russia,EURO,5762,1085281,144,19061

In [100]:
merged = gdf.merge(df, left_on='Country_code', right_on='Country_code')
merged.fillna('No data', inplace=True)
merged

,Country_x,Country_code,geometry,Date_reported,Country_y,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,Fiji,FJ,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",2020-03-19,Fiji,WPRO,1,1,0,0
1,Fiji,FJ,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",2020-03-20,Fiji,WPRO,0,1,0,0
2,Fiji,FJ,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",2020-03-21,Fiji,WPRO,1,2,0,0
3,Fiji,FJ,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",2020-03-22,Fiji,WPRO,0,2,0,0
4,Fiji,FJ,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",2020-03-23,Fiji,WPRO,1,3,0,0
...,...,...,...,...,...,...,...,...,...,...
32380,South Sudan,SS,"POLYGON ((30.83385 3.50917, 29.95350 4.17370, ...",2020-09-13,South Sudan,AFRO,0,2578,0,49
32381,South Sudan,SS,"POLYGON ((30.83385 3.50917, 29.95350 4.17370, ...",2020-09-14,South Sudan,AFRO,9,2587,0,49
32382,South Sudan,SS,"POLYGON ((30.83385 3.50917, 29.95350 4.17370, ...",2020-09-15,South Sudan,AFRO,5,2592,0,49
32383,South Sudan,SS,"POLYGON ((30.83385 3.50917, 29.95350 4.17370, ...",2020-09-16,South Sudan,AFRO,2,2594,0,49
32384,South Sudan,SS,"POLYGON ((30.83385 3.50917, 29.95350 4.17370, ...",2020-09-17,South Sudan,AFRO,5,2599,0,49

In [101]:
merged_json = json.loads(merged.to_json())

In [23]:
import geopandas
geopandas.datasets.available

['naturalearth_lowres', 'naturalearth_cities', 'nybb']

In [21]:
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

In [22]:
world

,pop_est,continent,name,iso_a3,gdp_md_est,geometry
0,920938,Oceania,Fiji,FJI,8374.0,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,53950935,Africa,Tanzania,TZA,150600.0,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,603253,Africa,W. Sahara,ESH,906.5,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,35623680,North America,Canada,CAN,1674000.0,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,326625791,North America,United States of America,USA,18560000.0,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."
...,...,...,...,...,...,...
172,7111024,Europe,Serbia,SRB,101800.0,"POLYGON ((18.82982 45.90887, 18.82984 45.90888..."
173,642550,Europe,Montenegro,MNE,10610.0,"POLYGON ((20.07070 42.58863, 19.80161 42.50009..."
174,1895250,Europe,Kosovo,-99,18490.0,"POLYGON ((20.59025 41.85541, 20.52295 42.21787..."
175,1218208,North America,Trinidad and Tobago,TTO,43570.0,"POLYGON ((-61.68000 10.76000, -61.10500 10.890..."
176,13026129,Africa,S. Sudan,SSD,20880.0,"POLYGON ((30.83385 3.50917, 29.95350 4.17370, ..."